* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas: "header" "main" "footer";
}

header {
  width: 100%;
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  background: rgb(255, 158, 0);
  background: linear-gradient(90deg, rgba(255, 158, 0, 0.8295693277) 0%, rgba(255, 188, 68, 0.868785014) 58%, rgba(255, 234, 174, 0.8015581232) 100%);
}
header .titulo {
  display: flex;
  flex-direction: column;
}
header .titulo .nombre-titulo {
  font-size: xx-large;
}
header .titulo p {
  font-size: large;
}
header .navbar {
  display: flex;
}
header .navbar .nav-link {
  font-size: medium;
  color: black;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas: "texto imagen";
}
main .contenedor-texto {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
main .contenedor-texto .texto {
  background-color: aqua;
  width: 60%;
  padding: 2rem;
  border-radius: 5%;
}
main .imagen-alberto {
  grid-area: imagen;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .imagen-alberto img {
  width: 60%;
  height: 80%;
}

.main-estudios {
  grid-area: main;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 1fr;
  grid-template-areas: "estudios estudios" "cursos img";
}
.main-estudios .contenedor-estudios {
  grid-area: estudios;
}
.main-estudios .contenedor-cursos {
  grid-area: cursos;
}
.main-estudios .contenedor-imagenes {
  grid-area: img;
}
.main-estudios .contenedor-imagenes img {
  width: 10rem;
}

.main-servicios {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "servicios" "trabajo";
}
.main-servicios .contenedor-servicios {
  grid-area: servicios;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-servicios .contenedor-servicios p {
  background-color: coral;
  background-size: contain;
  padding: 2rem;
  border-radius: 4%;
  font-size: large;
  width: 60%;
}
.main-servicios .forma-de-trabajar {
  grid-area: trabajo;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-servicios .forma-de-trabajar p {
  width: 90%;
  font-size: large;
}

.main-contacto {
  background-image: url(../../img/foto\ fondo\ pagina\ pa.jpg);
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr;
  grid-template-areas: "titulo info" "ubicacion contacto";
}
.main-contacto .titulo-contacto {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contacto .titulo-contacto h2 {
  font-size: large;
  font-weight: bold;
}
.main-contacto .section-ubicacion {
  grid-area: ubicacion;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.main-contacto .section-ubicacion iframe {
  width: 70%;
  height: 50%;
}
.main-contacto .section-ubicacion div {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-contacto .section-ubicacion div p {
  font-size: large;
}
.main-contacto .section-ubicacion div p span {
  font-weight: bold;
}
.main-contacto .section-ubicacion div svg {
  width: 3rem;
}
.main-contacto .info-contacto {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contacto .info-contacto h2 {
  font-size: large;
  font-weight: bold;
}
.main-contacto .section-contacto {
  height: 100%;
  width: 100%;
  grid-area: contacto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-contacto .section-contacto h3 {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.main-contacto .section-contacto .contacto {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  font-size: large;
}
.main-contacto .section-contacto .contacto a {
  color: black;
  text-decoration: none;
}
.main-contacto .section-contacto .contacto a:hover {
  color: blue;
  font-weight: bold;
}

footer {
  grid-area: footer;
  background-color: #FFEAAE;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .logo-ig {
  width: 4rem;
}
footer .logo-wsp {
  width: 4rem;
}
footer .logo-ubi {
  width: 4rem;
  background-color: darksalmon;
}

/*# sourceMappingURL=style.css.map */
