$background : linear-gradient(90deg, rgba(255,158,0,0.8295693277310925) 0%, rgba(255,188,68,0.8687850140056023) 58%, rgba(255,234,174,0.8015581232492998) 100%);
;

    


@mixin flex-center{
    display: flex;
    justify-content:center ;
    align-items: center;

}

@mixin flex-column-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

